[Unit]
Description="Autolab Web Service"

[Service]
Type=exec
ExecStart=/usr/local/bin/autolab-start
User=autolab

[Install]
WantedBy=multi-user.target
